.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
#Sertifikat {
  background-color: #e2edff;
}
#Project {
  background-color: rgb(251, 253, 253);
}
#Contact {
  background-color: #e2edff;
}
#footer {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
