.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#Sertifikat {
  background-color: #e2edff;
}
#Project {
  background-color: rgb(251, 253, 253);
}
#Skill {
  background-color: #e2edff;
}
#footer {
  background-color: #e2edff;
}
section {
  padding-top: 6rem;
}
